* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  padding: 10px;
}
#users {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  height: 600px;
  border: 5px solid #E6A0CF;
  padding: 1.5%;
  overflow: scroll;
  background-color: #FFD1F0;
  /*color: #29293D;*/
}
h4 {
  font-family: verdana;
  margin: 0;
}
ul {
  height: 80%;
}
li {
  font-family: verdana;
  list-style-type: none;
  margin-left: -20px;
  padding-bottom: 7%;
}
#usertextbox {
  width: 60%;
  height: 7%;
  text-align: left;
  font-family: verdana;
  border: 1px solid darkgray;
}
#submitusername {
  width: 35%;
  height: 7%;
  background-color: darkgray;
}
#chat {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  height: 600px;
  border: 5px solid #78AFE6;
  background-color: #B6DAFF;
}
#header {
  margin: 3%;
}
#peachicon {
  width: 5%;
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
}
#chatheadline {
  display: inline-block;
  vertical-align: top;
  padding-top: 2%;
  padding-left: 3%;
}
#chatwindow {
  height: 65%;
  margin: 3%;
  padding: 2%;
  border: 1px solid darkgray;
  font-family: verdana;
  overflow: scroll;
  background-color: white;
}
#userinput {
  margin-left: 3%;
  margin-right: 3%;
}
#textbox {
  width: 80%;
  height: 7%;
  text-align: left;
  font-family: verdana;
  border: 1px solid darkgray;
}
#submitchat {
  width: 13%;
  height: 7%;
  background-color: darkgray;
}
p {
  border-bottom: 1px solid lightgray;
  padding: 1%;
  margin: 0;
}
p:nth-child(odd) {
  background-color: #F0F0F5;
}
